services:

  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env
    ports:
      - '5432:5432'
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ..
      dockerfile: app/Dockerfile
    restart: always
    env_file:
      - ../.env
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "8000"
    command: >
      bash -c "alembic -c app/alembic.ini upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.config:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend


volumes:
  postgres_data:
